.lamp-shop-background {
    background-color: #343136;
    background-image: linear-gradient(to bottom, rgba(13,13,13,0.92), rgba(13,13,13,0.92)), url('https://raw.githubusercontent.com/VelaSails/styles_test_com/refs/heads/main/e2219da358573394a9168c7352f2a856.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}